<section>
    <h1>Register here</h1>
    <div id="fields">
        <form class="form-horizontal" id="register" method="post">
            <div id="basicDetails">
                <h3 class="">Basic details</h3> <br />
                <div class="form-group">
                    <label for="empId" class="col-sm-2 control-label">Employee ID:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="empId" placeholder="your employee ID..." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="fname" class="col-sm-2 control-label">First name:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="fname" placeholder="first name..." />
                    </div>
                    <label for="sname" class="col-sm-2 control-label">Second name:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="sname" placeholder="second name..." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="surname" class="col-sm-2 control-label">Surname name:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="surname" placeholder="surname..." />
                    </div>
                    <label for="id" class="col-sm-2 control-label">ID number:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="id" placeholder="ID number..." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-sm-2 control-label">Gender:</label>
                    <div class="col-lg-3">
                        <select class="form-control register-input" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <label for="marital" class="col-sm-2 control-label">Marital status:</label>
                    <div class="col-lg-3">
                        <select class="form-control register-input" name="marital">
                            <option value="Married">Married</option>
                            <option value="Single">Single</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd" class="col-sm-2 control-label">Password:</label>
                    <div class="col-lg-3">
                        <input type="password" class="form-control register-input" name="pwd" placeholder="password..." />
                    </div>
                    <label for="rpwd" class="col-sm-2 control-label">Retype password:</label>
                    <div class="col-lg-3">
                        <input type="password" class="form-control register-input" name="rpwd" placeholder="retype password..." />
                    </div>
                </div>
            </div>
            <div id="advanceDetails">
                <h3 class="">Advanced details</h3> <br />
                <div class="form-group">
                    <label for="box" class="col-sm-2 control-label">Box number:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="box" placeholder="box number..." />
                    </div>
                    <label for="postal" class="col-sm-2 control-label">Postal address:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="postal" placeholder="postal address..." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">City:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="city" placeholder="city..." />
                    </div>
                    <label for="phone" class="col-sm-2 control-label">Phone number:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="phone" placeholder="phone number..." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="alternate" class="col-sm-2 control-label">Alternate phone:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control register-input" name="alternate" placeholder="alternate phone number..." />
                    </div>
                    <label for="email" class="col-sm-2 control-label">Email:</label>
                    <div class="col-lg-3">
                        <input type="email" class="form-control register-input" name="email" placeholder="email..." />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <label for="tnc">By clicking register you are agreeing to the terms and conditions of this system.</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <input type="submit" value="Register" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" value="Clear" class="btn btn-danger" />
                </div>
                <div class="alert alert-danger col-sm-6">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;<span id="registration-alert">Please make sure you fill all the fields</span>
                </div>
            </div>
        </form>
    </div>
</section>